


/* éciture normal*/ 

@font-face /* éciture carte*/ 
{
	font-family: "KaushanScript";
	src: url('KaushanScript-Regular.otf');
}



@font-face /* éciture carte 1*/ 
{
	font-family: "blackjack";
	src: url('blackjack.otf');
}


@font-face /* éciture carte 3 */ 
{
	font-family: "AlexBrush";
	src: url('AlexBrush-Regular.ttf');
}

@font-face /* éciture carte 4*/ 
{
	font-family: "ici";
	src: url('ici');
}


@font-face /* éciture carte norm*/ 
{
	font-family: "Courier Prime";
	src: url('Courier Prime Italic.ttf');
}



/* General */

body
{
	width: 100%
    background-color: white;
    margin: 0px 0px 0px 0px;

}

#bloc_page
{
    width: auto;
    height: auto;
    margin: auto;
    background-color: white;

}
  
header

{
    width: 100%;
    height: auto;
    background-color: #579C87;
    color: #FDCB46;
    text-align: center;
    font-size:35px;
    padding: 5px 0px 5px 0px;

}
  

a , a:hover /*apparence texte carte*/
{
	text-decoration: none;

}  

footer
{
	margin: 70px 0px 30px 0px;
}
 
footer a /* Liens  */
{
   text-decoration: none;
   color: #FDCB46;



}

footer  a:hover /* Apparence au survol des liens */
{
	text-decoration: none;
	color: #FDCB46;
}


li
{
	list-style-type: none;
}

/* head header  et footer */ 






.bas
{
	width: 100%;
	height: auto;
    background-color: #579C87;
    color: #FDCB46;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bas a
{
    background-color: #579C87;
    color: #FDCB46;
	font-family: ;
	font-size: 25px;
	padding: 10px 50px 10px 50px;
}



.lien1 .lien2 .lien3 .lien4 
{

	text-align: center;
	font-family: ;
	font-size: 15px;
	color: #414141;
}







/*prochainement */ 

.prochainement 
{
	width: 30%;
	height: 40px;
	background: #579c87ff;
	color: #fdcb46ff;
	border-radius: 5px;
	font-family: ;
	font-size: 30px;
	text-align: center;
    margin-left: auto;
	margin-right: auto;

}

h4 
{
  font-size: 30px;
}



/* Carte */ 


.cartehaut
{
    width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
 
}

.cartebas
{
    width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
 
}





/* Animation */ 



h4:after /* PROCHAINEMENT */ 
{ 
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 3200ms infinite;      
  animation: ellipsis steps(4,end) 3200ms infinite;
  content: "\2026"; /* 2026 animation point*/
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}




.block /* carte animation*/ 
{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
 .block:hover  {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0.7;
}


.wiz:hover /* animation wiz footer */ 
{
  animation: shake 0.6s;
  animation-iteration-count: infinite;
  background: transparent; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }

}

.titrecat
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

h3
{
	font-size: 30px;
	text-align: center;
	background: linear-gradient(to top, black, transparent 5.01%) no-repeat left bottom/0 100%;
	transition: background-size 1200ms;
}
  h3:hover {
  background-size: 100% 100%;
}


/*carte*/


.carte_1
{
    width: 350px;
    height: 480px;
    font-family: blackjack;
    box-shadow: 0px 0px 10px #EDEDED;
    background-color: #FCDFDB;
    margin: 20px 50px 20px 50px;
    color: #3C1218;
	opacity: 1; 
}



.carte_2
{
    width: 350px;
    height: 480px;
    font-family: AVOIR;
    box-shadow: 0px 0px 10px #EDEDED;
    background-color: #FFF5FE;
    margin: 20px 50px 20px 50px;
    color: white;
}

.carte_3
{
    width: 350px;
    height: 480px;
    font-family: AlexBrush;
    box-shadow: 0px 0px 10px #EDEDED;
    background-color: #F9F9F9;
    margin: 20px 50px 20px 50px;
    color: white;
}

.carte_4
{
    width: 350px;
    height: 480px;
    font-family: AVOIR;
    box-shadow: 0px 0px 10px #EDEDED;
    background-color: #FDFFFD;
    margin: 20px 50px 20px 50px;
    color: white;
}








/* important*/ 

.link { color: #FDCB46; } /* couleur du lien sans avoir cliquer */
.link:hover { color: #FDCB46; }/* couleur du lien une fois visité*/



/*menu general */


h5
{
	text-align: center;
	font-size:25px;
}
h2
{
	text-align: center;
	font-size: 35px;
}




/* Menu note carte 1*/ 

.carte1 h2
{
	font-family: blackjack;
}

.menunote
{
    width: 65%;
    height: auto;
    margin-left: auto;
	margin-right: auto;
    background-color: #FCDFDB;
    color: #3D1319;

}

.lien1
{

    color: #3D1319;

}

.price
{


}


.lien1
{

    color: #3D1319;

}
/* Menu francais carte 2*/ 

.carte2 h2
{
	font-family: blackjack;
}

.menufr
{
    width: 65%;
    height: auto;
    margin-left: auto;
	margin-right: auto;
    background-color: #FFF5FE;
    color: #3D1319;



}

.lien2
{

    color: #3D1319;

}

/* Menu francais papille 3*/ 


.carte3 h2
{
	font-family: AlexBrush;
}
.menupap
{
    width: 65%;
    height: auto;
    margin-left: auto;
	margin-right: auto;
    background-color: #EDEFEF;
    color: black;

}
.lien3
{

    color: #3D1319;

}

/* Menu gout carte 4*/ 

.carte4 h2
{
	font-family: blackjack;
}

.menugout
{
    width: 65%;
    height: auto;
    margin-left: auto;
	margin-right: auto;
    background-color: #FDFFFD;
    color: black;


}


.lien4
{

    color: #3D1319;

}

