


/* éciture normal*/ 

@font-face /* éciture carte*/ 
{
	font-family: "Istok-Italic";
	src: url('Istok-Italic.ttf');
}

@font-face /* dans le menu carte*/ 
{
	font-family: "KaushanScript";
	src: url('KaushanScript-Regular.otf');
}


@font-face /* éciture carte 1*/ 
{
	font-family: "blackjack";
	src: url('blackjack.otf');
}

@font-face /* éciture carte 2 */ 
{
	font-family: "Overlock";
	src: url('Overlock-Black.ttf');
}
@font-face /* éciture carte 3 */ 
{
	font-family: "AlexBrush";
	src: url('AlexBrush-Regular.ttf');
}

@font-face /* éciture carte 4*/ 
{
	font-family: "playtime";
	src: url('playtime.ttf');
}


@font-face /* éciture carte norm*/ 
{
	font-family: "Courier Prime";
	src: url('Courier Prime Italic.ttf');
}



/* General */

body
{
	width: 100%
    background-color: white;
    margin: 0px 0px 0px 0px;


}

#bloc_page
{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: white;

}
  
header

{
	width: 100%;
    background-color: #579C87;
    color: #FDCB46;
    text-align: center;
    font-size:15px;
    padding: 1px 0px 1px 0px;

}

  

a , a:hover /*apparence texte carte*/
{
	text-decoration: none;

}  

footer
{
	margin: 10px 0px 30px 0px;
}
 
footer a /* Liens  */
{
   text-decoration: none;
   color: #FDCB46;



}

footer  a:hover /* Apparence au survol des liens */
{
	text-decoration: none;
	color: #FDCB46;
}


li
{
	list-style-type: none;
}

/* head header  et footer */ 






.bas
{
	width: 100%;
	height: auto;
    background-color: #579C87;
    color: #FDCB46;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
}

.bas a
{
    background-color: #579C87;
    color: #FDCB46;
	font-family: ;
	font-size: 15px;
	padding: 10px 10px 10px 10px;
}










/*prochainement */ 

.prochainement 
{
	background: #579c87ff;
	width: 50%;
	height: auto;
	color: #fdcb46ff;
	border-radius: 5px;
	font-size: 15px;
	margin: 0 auto ;
	padding: 0;
	text-align: center;
}

h4
{
	padding: 5px;
}

/*menu general */

h2
{

	font-size: 14px;
	margin: 0px 0px 0px 0px;


    
}
h5
{
	font-size:19px;
	margin: 0px 0px 0px 0px;

}


/* Carte */ 




.cartehaut
{
    
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;

 
}

.cartebas
{

	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}



.nosmenus
{
	width: 75%;
	margin: 0 auto ;

	
}



	
	



/*carte*/


.carte_1
{
    width: 280px;
    height: 180px;
    font-family: blackjack;
    box-shadow: 0px 0px 8px 1px #B6B8B7;
    background-color: #FCDFDB;
	margin: 15px 15px 15px 5px;
    color: #3C1218;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}


 h6
{
	font-size: 30px;
	text-align: center;
	margin: 5px 0px 5px 0px;

}

.carte_2
{
    width: 280px;
    height: 180px;
    font-family: Overlock;
    box-shadow: 0px 0px 8px 1px #B6B8B7;
    background-color: #FFF5FE;
    margin: 15px 5px 15px 15px;
    color: white;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}

.carte_3
{
    width: 280px;
    height: 180px;
    font-family: AlexBrush;
	box-shadow: 0px 0px 8px 1px #B6B8B7;
    background-color: #F9F9F9;
    margin: 15px 15px 15px 5px;
    color: white;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}

.carte_4
{
    width: 280px;
    height: 180px;
    font-family: playtime;
    box-shadow: 0px 0px 8px 1px #B6B8B7;
    background-color: #FDFFFD;
    margin: 15px 5px 15px 15px;
    color: white;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}





/* Animation */ 



h4:after /* PROCHAINEMENT */ 
{ 
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 3200ms infinite;      
  animation: ellipsis steps(4,end) 3200ms infinite;
  content: "\2026"; /* 2026 animation point*/
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}




.block /* carte animation*/ 
{

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
 .block:hover  {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0.7;
}


.wiz:hover /* animation wiz footer */ 
{
	animation: shake 0.6s;
	animation-iteration-count: infinite;
	background: transparent; 
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
 	50% { transform: translate(-1px, 2px) rotate(-1deg); }
  	60% { transform: translate(-3px, 1px) rotate(0deg); }

}

.titrecat
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;

}
.titrecat img 
	{
	width: 25%;
	padding: 0px 5px 0px 5px;
	}
.carte1 img 
{
	width: 30%;
}

h3
{
	font-size: 16px;
	text-align: center;
	background: linear-gradient(to top, black, transparent 5.01%) no-repeat left bottom/0 100%;
	transition: background-size 1200ms;
	
}
  h3:hover {
  background-size: 100% 100%;
}



/* important*/ 

.link { color: #FDCB46; } /* couleur du lien sans avoir cliquer */
.link:hover { color: #FDCB46; }/* couleur du lien une fois visité*/



ul
{
	list-style: none;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 0px;
	font-family: Istok-Italic;


}


.plat
{
	font-size: 15px;
}

.price
{
	font-size: 18px;
	text-align: center;
	font-weight: bold;


}


/* Menu note carte 1*/ 

.carte1 h2
{
	font-family: blackjack;
}

.menunote
{
    width: 80%;
    height: 100%;
	margin: 10px auto 50px auto;
	font-family: blackjack;
	box-shadow: 0px 0px 8px 1px #B6B8B7;
    background-color: #FCDFDB;
    color: #3D1319;




}

.lien1
{

    color: #3D1319;

}


.lien1
{

    color: #3D1319;

}
/* Menu francais carte 2*/ 

.carte2 h2
{
	font-family: blackjack;
}

.menufr
{
    width: 65%;
    height: auto;
    font-family:blackjack; 
    margin: 10px auto 50px auto;
    background-color: #FFF5FE;
    box-shadow: 0px 0px 8px 1px #B6B8B7;
    color: #3D1319;



}

.lien2
{

    color: #3D1319;

}

/* Menu francais papille 3*/ 


.carte3 h2
{
	font-family: AlexBrush;
}
.menupap
{
    width: 65%;
    height: auto;
    margin: 10px auto 50px auto;
	box-shadow: 0px 0px 8px 1px #B6B8B7;
    background-color: #EDEFEF;
    color: black;

}
.lien3
{

    color: #3D1319;

}

/* Menu gout carte 4*/ 

.carte4 h2
{
	font-family: blackjack;
}

.menugout
{
    width: 65%;
    height: auto;
    margin: 10px auto 50px auto;
	box-shadow: 0px 0px 8px 1px #B6B8B7;
    background-color: #FDFFFD;
    color: black;


}


.lien4
{

    color: #3D1319;

}







/*IMAGE NOTE DE MUSIQUE */


.notedefin img
{
	width: 8%;
}



.notedebut img
{
	width: 18%;
	display:block;
	margin-left:auto;
	margin-right:auto;

}

.block img
{
	width: 25%;
	display:block;
	margin-left:auto;
	margin-right:auto;

}







/* mentin légale */ 

.mention
{
    width: 80%;
    height: auto;
    font-family:Istok-Italic; 
    margin: 10px auto 50px auto;
    background-color: #FFF5FE;
    box-shadow: 0px 0px 8px 1px #B6B8B7;
    text-align: justify;
    color: #3D1319;
    font-size: 15px

}










/*RESOLUTION ECRAN tablette*/
@media screen and (min-width: 768px) 
{
     #bloc_page
    {
    width: 100%;
    font-size: 40px;
    }
	.menunote
    {
    width: 60%;
    padding: 10px 20px 10px 20px;
    }
    .nosmenus
    {
    width: 60%;
    }
	.titrecat img 
	{
	width: 27%;
	padding: 0px 20px 0px 20px;
	}

    .carte_1 .carte2
    {
    width: 50%
    }
    .carte_3 .carte4
    {
    width: 50%
    }

	ul 
	{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 10px 30px 20px 30px;
	}
 	h3
	{
	font-size:25px;
	text-align: center;

	}
	.plat
	{
	display: inline-block;
    text-align: left;
    width: 90%;
    font-size: 15px;
	}
	.price
	{
	display: inline-block;
    margin: 0;
    text-align: right;
    width: 10%;
    font-size: 18px;
	
	}

	.block img
	{
	width: 35%;
	display:block;
	margin-left:auto;
	margin-right:auto;

	}

}







/* écran normal*/
@media all and (min-width: 1024px) and (max-width: 1600px)

{

     #bloc_page
    {
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 40px;
    }
    .carte1 img 
	{
	width:35%;
	}
	.titrecat img 
	{
	width: 30%;
	}
	.notedebut img
	{
	width: 16%;
	display:block;
	margin-left:auto;
	margin-right:auto;

	}

	.menunote
    {
    width: 80%;
    padding: 10px 20px 10px 20px;
    }


	.carte_1 
	{
    width: 480px;
    height: 530px;
	}


	.carte_2
	{
    width: 480px;
    height: 530px;
	}
	.carte_3
	{
    width: 480px;
    height: 530px;
	}
	.carte_4 
	{
    width: 480px;
    height: 530px;
	}

	h2 
	{
	 font-size: 30px;
	}
	h5 
	{
	 font-size: 50px;
	}
	h1 
	{
	 font-size: 65px;
	}
	.bas a 
	{
	font-size: 40px;
	}
	h6
	{
	font-size: 45px;
	}
	.prochainement
	{
	width: 40%;
	height: auto;
	font-size: 50px;
	margin: 0 auto ;
	padding: 0 auto;
	text-align: center;
	}

	footer
	{
	margin-top: 150px;
	}

	h3
	{
	font-size: 32px;
	}
	ul 
	{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
	}

	.plat
	{
	display: inline-block;
    text-align: left;
    width: 90%;
    font-size: 23px;
	}
	.price
	{
	display: inline-block;
    margin: 0;
    text-align: right;
    width: 10%;
    font-size: 26px;
	
	}
	.block img
	{
	width: 40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	}



	.mention p
	{
	font-size: 40px;
	}

}







/* très grand écran */
@media all and (min-width: 1600px) and (max-width: 2560px)

{

     #bloc_page
    {
    width: auto;
    font-size: 55px;
    }
	.carte1 img 
	{
	width: 40%;
	}
	.titrecat img 
	{
	width: 30%;
	}
	h6
	{
	font-size: 75px;
	}
	.menunote
    {
    width: 60%;
    padding: 10px 20px 10px 20px;
    }

	h3
	{
	font-size: 50px;
	}
	.menunote
    {
    width: 50%;
    padding: 10px 20px 10px 20px;
    }
	.carte_1 
	{
    width: 550px;
    height: 680px;
	}


	.carte_2
	{
    width: 550px;
    height: 680px;
	}
	.carte_3
	{
    width: 550px;
    height: 680px;
	}
	.carte_4 
	{
    width: 550px;
    height: 680px;
	}

	h2 
	{
	 font-size: 40px;
	}
	h5 
	{
	 font-size: 60px;
	}
	h1 
	{
	 font-size: 70px;
	}

	.bas a 
	{
	font-size: 50px;
	}

	.prochainement
	{
	width: 30%;
	height: auto;
	font-size: 80px;
	margin: 0 auto ;
	padding: 0 auto;
	text-align: center;
	}
	.plat
	{
	display: inline-block;
    text-align: left;
    width: 90%;
    font-size: 36px;
	}
	.price
	{
	display: inline-block;
    margin: 0;
    text-align: right;
    width: 10%;
    font-size: 39px;
	
	}
	.block img
	{
	width: 45%;
	display:block;
	margin-left:auto;
	margin-right:auto;

	}

	.mention p
	{
	font-size: 40px;
	}

	.notedebut img
	{
	width: 16%;
	display:block;
	margin-left:auto;
	margin-right:auto;

	}
}
